{% extends 'messenger/messenger_base.html' %}
{% load static %}

{% block messenger_content %}
<div class="create-chat-container">
    <h2>Create New Chat</h2>
    {% if friends_to_chat_with %}
        <p>Select a friend to start a chat with:</p>
        <ul class="friend-selection-list">
            {% for friend in friends_to_chat_with %}
                <li>
                    <a href="{% url 'create_chat_with_user' friend.id %}">
                        <img src="{% if friend.profile.avatar %}{{ friend.profile.avatar.url }}{% else %}{% static 'avatars/default_user.png' %}{% endif %}" alt="{{ friend.username }}" class="chat-avatar">
                        {{ friend.username }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You don't have any friends to start a new chat with (or you are already chatting with all of them).</p>
        <p>You can add new friends through your <a href="{% url 'profilepage:profile' %}">profile</a>.</p>
    {% endif %}
</div>
{% endblock %}