{% extends 'mainpage/base.html' %}
{% load static %}

{% block title %}My cards | ExdiEngSite{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'style/cards.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock %}

{% block content %}
{% include 'mainpage/navbar.html' %}

<div class="secondary-navbar">
    <div class="secondary-nav-container">
         <a href="{% url 'my_cards' %}" class="secondary-nav-link {% if '/cards/' in request.path %}active{% endif %}">
            <i class="fas fa-layer-group"></i> My cards
        </a>
        <a href="{% url 'add_cards' %}" class="secondary-nav-link {% if request.path == '/add-cards/' %}active{% endif %}">
            <i class="fas fa-plus-circle"></i> Add cards
        </a>
        <a href="{% url 'quiz_start' %}" class="secondary-nav-link {% if '/quiz/' in request.path %}active{% endif %}">
            <i class="fas fa-question-circle"></i> Quiz
        </a>
    </div>
</div>

<div class="main-container">
    <div class="cards-content-wrapper">
        {% block cards_content %}
        {% endblock %}
    </div>
</div>

{% include 'mainpage/footer.html' %}

{% block extra_js %}
<script>
    function flipCard(element) {
        element.classList.toggle('flipped');
    }
</script>
{% endblock %}

{% endblock %}
