{% extends 'cardspage/cards_base.html' %}
{% load static %}

{% block title %}Edit Card | ExdiEngSite{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'style/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'style/cards.css' %}">
    <link rel="stylesheet" href="{% static 'style/edit_cards.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock %}

{% block content %}
{% include 'mainpage/navbar.html' %}


<div class="secondary-navbar">
    <div class="secondary-nav-container">
        <a href="{% url 'my_cards' %}" class="secondary-nav-link">
            <i class="fas fa-layer-group"></i> My cards
        </a>
        <a href="{% url 'add_cards' %}" class="secondary-nav-link">
            <i class="fas fa-plus-circle"></i> Add cards
        </a>
        <a href="#" class="secondary-nav-link disabled">
            <i class="fas fa-question-circle"></i> Quiz
        </a>
    </div>
</div>

<div class="main-container">
    <div class="cards-content-wrapper">
        <h2 class="section-title">Edit Card</h2>
        
        <form method="post" class="card-form">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="id_english_word">
                    <i class="fas fa-language"></i> English word
                </label>
                {{ form.english_word }}
            </div>
            
            <div class="form-group">
                <label for="id_native_translation">
                    <i class="fas fa-exchange-alt"></i> Translation
                </label>
                {{ form.native_translation }}
            </div>
            
            <div class="form-group">
                <label for="id_category">
                    <i class="fas fa-tag"></i> Category (Optional)
                </label>
                {{ form.category }}
            </div>
            
            <div class="form-actions">
                <button type="submit" class="cta-button primary">
                    <i class="fas fa-save"></i> Save Changes
                </button>
                <a href="{% url 'my_cards' %}" class="cta-button secondary">
                    <i class="fas fa-times"></i> Cancel
                </a>
            </div>
        </form>
    </div>
</div>

{% include 'mainpage/footer.html' %}
{% endblock %}