{% extends 'testspage/tests_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Test Unavailable" %} | ExdiEngSite{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'style/tests.css' %}">
{% endblock %}

{% block tests_content %}
<div class="main-container">
    <nav class="breadcrumbs">
        <a href="{% url 'home' %}">{% translate "Home" %}</a> &raquo;
        <span>{% translate "Test Unavailable" %}</span>
    </nav>

    <div class="tests-content-wrapper unavailable-message-container">
        <i class="fas fa-exclamation-triangle unavailable-icon"></i>
        <h1 class="section-title">{% translate "Test Currently Unavailable" %}</h1>
        <p class="unavailable-message">{{ message }}</p>
        <a href="{% url 'home' %}" class="btn btn-primary">{% translate "Return to Home" %}</a>
    </div>
</div>
{% endblock %}