{% extends 'mainpage/base.html' %}
{% load static %}

{% block title %}Reset Password Sent{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/reset_password.css' %}">
{% endblock %}

{% block content %}
<div class="login-body">
    <div class="login-container">
        <h1 class="login-header">Reset Password Sent</h1>
        <p class="reset-message">We've emailed you instructions for setting your password. If you don't receive an email, please make sure you've entered the address you registered with.</p>
    </div>
</div>
{% endblock %}