{% extends 'mainpage/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Password Reset Complete" %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/reset_password.css' %}">
{% endblock %}

{% block content %}
<div class="login-body">
    <div class="login-container">
        <h1 class="login-header">{% trans "Password Reset Complete" %}</h1>
        <p class="reset-message">{% trans "Your password has been set. You may go ahead and log in now." %}</p>
        <a href="{% url 'login' %}" class="login-button">{% trans "Log In" %}</a>
    </div>
</div>
{% endblock %}