{% extends 'mainpage/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Sign Up" %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/signup.css' %}">
{% endblock %}

{% block content %}
<div class="signup-body">
    <div class="signup-container">
        <h1 class="signup-header">{% trans "Sign Up" %}</h1>
        <form method="post" class="signup-form">
            {% csrf_token %}

            <div class="form-group email-group">
                <div class="email-input-container">
                    <input type="email" id="id_email" name="email" class="input email-input" placeholder="{% trans "E-mail" %}" required>
                    <button type="button" id="send-code-button" class="send-code-button">{% trans "Send Code" %}</button>
                </div>
            </div>

            <div class="form-group">
                <input type="text" id="id_username" name="username" class="input" placeholder="{% trans "Username" %}" required>
                <i class='bx bxs-user-circle'></i>
            </div>

            <div class="form-group">
                <input type="password" id="id_password1" name="password1" class="input" placeholder="{% trans "Password" %}" required>
                <i class='bx bxs-lock-open-alt'></i>
            </div>

            <div class="form-group">
                <input type="password" id="id_password2" name="password2" class="input" placeholder="{% trans "Confirm Password" %}" required>
                <i class='bx bxs-lock-alt'></i>
            </div>

            <div class="form-group">
                <input type="text" id="id_verification_code" name="verification_code" class="input" placeholder="{% trans "Verification Code" %}" required>
                <i class='bx bxs-key'></i>
                <div id="timer" class="timer" style="display: none;">{% trans "Resend code in:" %} <span id="time-left">60</span> {% trans "sec." %}</div>
            </div>

            <button type="submit" class="signup-button">{% trans "Sign Up" %}</button>

            <div class="already-registered">
                <p>{% trans "Already registered?" %} <a href="{% url 'login' %}">{% trans "Log in" %}</a></p>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('send-code-button').addEventListener('click', function() {
            const email = document.getElementById('id_email').value;
            if (email) {
                const button = document.getElementById('send-code-button');
                const timer = document.getElementById('timer');
                const timeLeft = document.getElementById('time-left');

                button.disabled = true;
                button.style.opacity = '0.5';
                button.style.cursor = 'not-allowed';

                fetch('/send-code/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: `email=${encodeURIComponent(email)}`
                }).then(response => response.json())
                  .then(data => {
                      if (data.status === 'success') {
                          timer.style.display = 'block';
                          let time = 60;

                          const interval = setInterval(() => {
                              timeLeft.textContent = time;
                              time--;

                              if (time < 0) {
                                  clearInterval(interval);
                                  timer.style.display = 'none';
                                  button.disabled = false;
                                  button.style.opacity = '1';
                                  button.style.cursor = 'pointer';
                              }
                          }, 1000);
                      } else {
                          alert(data.message);
                          button.disabled = false;
                          button.style.opacity = '1';
                          button.style.cursor = 'pointer';
                      }
                  });
            } else {
                alert('Please, enter your email.');
            }
        });
    });
</script>
{% endblock %}