{% load i18n %}
<div class="social-stats">
    <div class="social-stats-top">
        <div class="social-stat-item">
            <div class="social-stat-icon">
                <i class="fas fa-user-friends"></i>
            </div>
            <div class="social-stat-info">
                <p class="social-stat-number">{{ profile.friends_count }}</p>
                <p class="social-stat-label">{% translate "Friends" %}</p>
            </div>
        </div>
        <div class="social-stat-item">
            <div class="social-stat-icon">
                <i class="fas fa-users"></i>
            </div>
            <div class="social-stat-info">
                <p class="social-stat-number">{{ profile.followers_count }}</p>
                <p class="social-stat-label">{% translate "Followers" %}</p>
            </div>
        </div>
    </div>
</div>